html, main, body{
    height: 100%;
    width: 100%;
    margin: 0;
}
body{
    background-color: white;
}
h1{
    text-align: center;
    color: #D1F7FF;
    font-size: 4.3rem;
    margin-bottom: 0;
    margin-top: 1rem;
    font-family: 'Satisfy', cursive;
    text-shadow: 1px 6px 2px #cc11f0, 0 0 0.1em #05D9E8, 0 0 0.2em #005678;
    
}

.container{
    display: flex;
    height: 100%;
    flex-direction: column;
}
/*
    POPUP INFO
*/
#popup{
    background: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-form{
    border: 1px solid black;
    border-radius: 5px;
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    align-items: center;
}

.bttn-section{
    width: 100%;
}

.info-form button{
    float: right;
}
.form-section:nth-child(2), .form-section:nth-child(3){
    margin-top: .5rem;
    width: 100%;
}


.form-section:last-child{
    margin: .5rem 0;
}

.player-section{
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*
    HEADER INFORMATION
*/

.scoreboard{
    display: flex;
    flex-direction: column;
    
}

.player-info{
    display: flex;
    justify-content: space-around;
}

.player-turn{
    text-align: center;
}

.reset-section{
    margin: 0 auto;
}
/*
    Player name and score
*/

.player-name, .player-one-score, .player-two-score{
    color: white; 
    text-shadow: 1px 1px 1px #00ff9f, 0 0 0.1em #bd00ff, 0 0 0.2em #005678;
    font-family: 'Staatliches', cursive;
}

.x-style, .o-style{
    font-family: 'Cantata One', serif;
    text-shadow: 1px 1px 1px #00ff9f, 0 0 0.1em #bd00ff, 0 0 0.2em #005678;
}

.x-style{
    color: #ff00c1;
}

.o-style{
    color: 	#00FFFF;
}

/*
    Tic-Tac-Toe board
*/

.board{
    margin-top: 2em;
}

.row{
    display: flex;
    width: 100%;
    justify-content: center;
    
}

.col{
    width: 10vw;
    height: 10vw;
    font-size: 3.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
} 

/*
    Column Cell border colors
*/

.col-0{
    border-right: 1px solid #00FF00;
    border-bottom: 1px solid #00FF00;
}
.col-1{
    border-right: 1px solid #00FF00;
    border-left: 1px solid #00FF00;
    border-bottom: 1px solid #00FF00;
}
.col-2{
    border-left: 1px solid #00FF00;
    border-bottom: 1px solid #00FF00;
}
.col-3{
    border-right: 1px solid #00FF00;
    border-top: 1px solid #00FF00;
    border-bottom: 1px solid #00FF00;
}
.col-4{
    border-right: 1px solid #00FF00;
    border-left: 1px solid #00FF00;
    border-bottom: 1px solid #00FF00;
    border-top: 1px solid #00FF00;
}
.col-5{
    border-left: 1px solid #00FF00;
    border-top: 1px solid #00FF00;
    border-bottom: 1px solid #00FF00;
}
.col-6{
    border-right: 1px solid #00FF00;
    border-top: 1px solid #00FF00;
}
.col-7{
    border-right: 1px solid #00FF00;
    border-left: 1px solid #00FF00;
    border-top: 1px solid #00FF00;
}
.col-8{
    border-left: 1px solid #00FF00;
    border-top: 1px solid #00FF00;
}