html, body, main, canvas{
    height: 100%;
    width: 100%
}

body{
    background-color: #ebe0d5;
    margin: 0;
}

h1{
    text-align: center;
    color: rgb(100, 100, 100);
    font-size: 4.3rem;
    margin-bottom: 0;
    margin-top: 0.1em;
    font-family: 'Satisfy', cursive;
    
}
h2{
    margin: 0.5rem;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
/*
    POPUP INFO
*/
#popup{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#close-Btn{
    padding: 0.1em 0.6em;
    background-color: rgb(231, 231, 231);
    border: 1px solid grey;
    outline: 0;

}

#close-Btn:hover{
    border-color: rgb(39, 39, 39);
}

.info-form{
    background-color: #e6dacc;
    border: 1px solid #88827a;
    border-radius: 5px;
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 0.5em 0.5em 0 0.5em;
    align-items: center;
    box-shadow: 1px 1px #888888;
}

/* Style for label */
.player-one-name, .player-two-name{
    margin-bottom: 0.5em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: rgb(43, 43, 43)
}

/* Style for input */
#player-one-name, #player-two-name{
    border: 2px solid rgb(128, 128, 128);
    padding: 0.5em 1em;
}

.form-section:nth-child(2){
    margin-bottom: 0.4em;
}

/* Form button style */
#form-btn, #restart{
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    border: 2px solid grey;
    padding: 0.3em 0.5em;
    margin: 0.6em 0;
    border-radius: 6px;
    outline: 0;

}

#form-btn:hover, #restart:hover{
    border-color: black;
}

.bttn-section{
    width: 100%;
}

.info-form button{
    float: right;
}

.form-section:nth-child(2), .form-section:nth-child(3){
    margin-top: .5rem;
    width: 100%;
}

/*---- GAME PAGE ----*/
#GamePage{
    display: none;
}


.form-section:last-child{
    margin: .5rem 0;
}

.player-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*
    HEADER INFORMATION
*/

.player-info{
    display: flex;
    width: 65%;
    margin: 0 auto;
    justify-content: space-between;
}

.player-turn{
    text-align: center;
}

.reset-section{
    display: flex;
    justify-content: center;
}

/*
    Player name and score
*/
.player-name{
    color: rgb(82, 82, 82); 
    font-family: 'Roboto', sans-serif;
}

.X-style, .O-style, .X-style-hover, .O-style-hover{
    font-family: 'Cantata One', serif;
}

.X-style{
    color: #aa0080;
}

.O-style{
    color: 	#009999;
}

.X-style-hover{
    color: #aa008054;
}

.O-style-hover{
    color: 	#00999954;
}

/*
    Tic-Tac-Toe board
*/

.board{
    margin-top: 1em;
}

.row{
    display: flex;
    width: 100%;
    justify-content: center;
}

.col{
    width: 10vw;
    height: 10vw;
    font-size: 3.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
} 

/*
    Column Cell border colors
*/

.col-0{
    border-right: 1.5px solid #7a7a7a;
    border-bottom: 1.5px solid #7a7a7a;
}
.col-1{
    border-right: 1.5px solid #7a7a7a;
    border-left: 1.5px solid #7a7a7a;
    border-bottom: 1.5px solid #7a7a7a;
}
.col-2{
    border-left: 1.5px solid #7a7a7a;
    border-bottom: 1.5px solid #7a7a7a;
}
.col-3{
    border-right: 1.5px solid #7a7a7a;
    border-top: 1.5px solid #7a7a7a;
    border-bottom: 1.5px solid #7a7a7a;
}
.col-4{
    border-right: 1.5px solid #7a7a7a;
    border-left: 1.5px solid #7a7a7a;
    border-bottom: 1.5px solid #7a7a7a;
    border-top: 1.5px solid #7a7a7a;
}
.col-5{
    border-left: 1.5px solid #7a7a7a;
    border-top: 1.5px solid #7a7a7a;
    border-bottom: 1.5px solid #7a7a7a;
}
.col-6{
    border-right: 1.5px solid #7a7a7a;
    border-top: 1.5px solid #7a7a7a;
}
.col-7{
    border-right: 1.5px solid #7a7a7a;
    border-left: 1.5px solid #7a7a7a;
    border-top: 1.5px solid #7a7a7a;
}
.col-8{
    border-left: 1.5px solid #7a7a7a;
    border-top: 1.5px solid #7a7a7a;
}

/*---- Mobile View ---- */
@media (max-width: 900px){
    h1{
        font-size: 4rem;
    }
    .player-one-name, .player-two-name{
        font-size: 0.95rem;
    }
    .info-form{
        width: 50%;
    }
    .player-info{
        width: 90%;
    }
    .col{
        width: 16vw;
        height: 16vw;
    }
}